<?xml version="1.0" encoding="utf-8"?>
<TextureAtlas imagePath="springbonnie.png">
	<!-- Created using the Spritesheet and XML generator -->
	<!-- https://uncertainprod.github.io/FNF-Spritesheet-XML-generator-Web -->
	<SubTexture name="idle0000" x="151" y="0" width="33" height="97" frameX="-3" frameY="0" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0001" x="151" y="0" width="33" height="97" frameX="-3" frameY="0" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0002" x="0" y="0" width="39" height="92" frameX="0" frameY="-5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0003" x="0" y="0" width="39" height="92" frameX="0" frameY="-5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0004" x="36" y="92" width="36" height="93" frameX="-2" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0005" x="36" y="92" width="36" height="93" frameX="-2" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0006" x="36" y="92" width="36" height="93" frameX="-2" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0007" x="36" y="92" width="36" height="93" frameX="-2" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0008" x="36" y="92" width="36" height="93" frameX="-2" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0009" x="36" y="92" width="36" height="93" frameX="-2" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0010" x="36" y="92" width="36" height="93" frameX="-2" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0011" x="36" y="92" width="36" height="93" frameX="-2" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0012" x="36" y="92" width="36" height="93" frameX="-2" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0013" x="36" y="92" width="36" height="93" frameX="-2" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0014" x="36" y="92" width="36" height="93" frameX="-2" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0015" x="36" y="92" width="36" height="93" frameX="-2" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0016" x="72" y="92" width="39" height="85" frameX="0" frameY="-12" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0017" x="72" y="92" width="39" height="85" frameX="0" frameY="-12" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0018" x="220" y="90" width="34" height="90" frameX="-3" frameY="-7" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0019" x="220" y="90" width="34" height="90" frameX="-3" frameY="-7" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0020" x="184" y="88" width="36" height="88" frameX="-2" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0021" x="184" y="88" width="36" height="88" frameX="-2" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0022" x="184" y="88" width="36" height="88" frameX="-2" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0023" x="184" y="88" width="36" height="88" frameX="-2" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0024" x="184" y="88" width="36" height="88" frameX="-2" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0025" x="184" y="88" width="36" height="88" frameX="-2" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0026" x="184" y="88" width="36" height="88" frameX="-2" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0027" x="184" y="88" width="36" height="88" frameX="-2" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0028" x="184" y="88" width="36" height="88" frameX="-2" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0029" x="184" y="88" width="36" height="88" frameX="-2" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0030" x="184" y="88" width="36" height="88" frameX="-2" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0031" x="184" y="88" width="36" height="88" frameX="-2" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0032" x="117" y="0" width="34" height="96" frameX="-8" frameY="0" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0033" x="117" y="0" width="34" height="96" frameX="-8" frameY="0" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0034" x="39" y="0" width="38" height="92" frameX="-6" frameY="-5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0035" x="39" y="0" width="38" height="92" frameX="-6" frameY="-5" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0036" x="0" y="92" width="36" height="93" frameX="-7" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0037" x="0" y="92" width="36" height="93" frameX="-7" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0038" x="0" y="92" width="36" height="93" frameX="-7" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0039" x="0" y="92" width="36" height="93" frameX="-7" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0040" x="0" y="92" width="36" height="93" frameX="-7" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0041" x="0" y="92" width="36" height="93" frameX="-7" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0042" x="0" y="92" width="36" height="93" frameX="-7" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0043" x="0" y="92" width="36" height="93" frameX="-7" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0044" x="0" y="92" width="36" height="93" frameX="-7" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0045" x="0" y="92" width="36" height="93" frameX="-7" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0046" x="0" y="92" width="36" height="93" frameX="-7" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0047" x="0" y="92" width="36" height="93" frameX="-7" frameY="-3" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0048" x="77" y="0" width="40" height="85" frameX="-5" frameY="-12" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0049" x="77" y="0" width="40" height="85" frameX="-5" frameY="-12" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0050" x="220" y="0" width="35" height="90" frameX="-8" frameY="-7" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0051" x="220" y="0" width="35" height="90" frameX="-8" frameY="-7" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0052" x="184" y="0" width="36" height="88" frameX="-7" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0053" x="184" y="0" width="36" height="88" frameX="-7" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0054" x="184" y="0" width="36" height="88" frameX="-7" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0055" x="184" y="0" width="36" height="88" frameX="-7" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0056" x="184" y="0" width="36" height="88" frameX="-7" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0057" x="184" y="0" width="36" height="88" frameX="-7" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0058" x="184" y="0" width="36" height="88" frameX="-7" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0059" x="184" y="0" width="36" height="88" frameX="-7" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0060" x="184" y="0" width="36" height="88" frameX="-7" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0061" x="184" y="0" width="36" height="88" frameX="-7" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0062" x="184" y="0" width="36" height="88" frameX="-7" frameY="-9" frameWidth="45" frameHeight="97"/>
	<SubTexture name="idle0063" x="184" y="0" width="36" height="88" frameX="-7" frameY="-9" frameWidth="45" frameHeight="97"/>
</TextureAtlas>