<?xml version="1.0" encoding="utf-8"?>
<TextureAtlas imagePath="springtrap.png">
	<!-- Created using the Spritesheet and XML generator -->
	<!-- https://uncertainprod.github.io/FNF-Spritesheet-XML-generator-Web -->
	<SubTexture name="Dad Sing Note DOWN0000" x="0" y="306" width="272" height="333" frameX="-30" frameY="-9" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Dad Sing Note DOWN0001" x="0" y="0" width="300" height="306" frameX="-10" frameY="-37" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Dad Sing Note DOWN0002" x="795" y="0" width="308" height="283" frameX="-4" frameY="-60" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Dad Sing Note DOWN0003" x="1103" y="0" width="310" height="269" frameX="0" frameY="-74" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Dad Sing Note DOWN0004" x="1103" y="269" width="310" height="268" frameX="0" frameY="-74" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Dad Sing Note DOWN0005" x="534" y="639" width="308" height="276" frameX="-3" frameY="-67" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Dad Sing Note DOWN0006" x="795" y="283" width="299" height="289" frameX="-12" frameY="-53" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Dad Sing Note DOWN0007" x="253" y="639" width="281" height="304" frameX="-26" frameY="-38" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Dad Sing Note DOWN0008" x="0" y="980" width="254" height="317" frameX="-46" frameY="-26" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Dad Sing Note DOWN0009" x="239" y="1297" width="221" height="328" frameX="-68" frameY="-15" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Dad Sing Note DOWN0010" x="2090" y="352" width="193" height="337" frameX="-84" frameY="-6" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Dad Sing Note DOWN0011" x="886" y="1978" width="177" height="342" frameX="-90" frameY="0" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Dad Sing Note LEFT0000" x="0" y="1628" width="203" height="350" frameX="-10" frameY="-2" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Dad Sing Note LEFT0001" x="1642" y="697" width="218" height="352" frameX="0" frameY="0" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Dad Sing Note LEFT0002" x="1642" y="0" width="223" height="350" frameX="0" frameY="-2" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Dad Sing Note LEFT0003" x="1413" y="349" width="227" height="350" frameX="-1" frameY="-3" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Dad Sing Note LEFT0004" x="1413" y="0" width="229" height="349" frameX="-2" frameY="-4" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Dad Sing Note LEFT0005" x="1413" y="699" width="227" height="348" frameX="-5" frameY="-5" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Dad Sing Note LEFT0006" x="1642" y="350" width="223" height="347" frameX="-8" frameY="-5" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Dad Sing Note LEFT0007" x="1865" y="336" width="215" height="348" frameX="-12" frameY="-4" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Dad Sing Note LEFT0008" x="1642" y="1049" width="207" height="351" frameX="-14" frameY="-2" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Dad Sing Note LEFT0009" x="2090" y="0" width="196" height="352" frameX="-17" frameY="-1" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Dad Sing Note LEFT0010" x="2090" y="689" width="185" height="349" frameX="-19" frameY="-4" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Dad Sing Note LEFT0011" x="1063" y="1978" width="177" height="342" frameX="-18" frameY="-10" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Dad Sing Note RIGHT0000" x="1865" y="684" width="225" height="332" frameX="0" frameY="-11" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Dad Sing Note RIGHT0001" x="677" y="1297" width="212" height="302" frameX="-42" frameY="-41" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Dad Sing Note RIGHT0002" x="409" y="1628" width="214" height="290" frameX="-48" frameY="-53" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Dad Sing Note RIGHT0003" x="889" y="1297" width="217" height="286" frameX="-49" frameY="-57" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Dad Sing Note RIGHT0004" x="1158" y="980" width="219" height="285" frameX="-47" frameY="-57" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Dad Sing Note RIGHT0005" x="938" y="980" width="220" height="286" frameX="-43" frameY="-57" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Dad Sing Note RIGHT0006" x="712" y="980" width="226" height="288" frameX="-33" frameY="-55" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Dad Sing Note RIGHT0007" x="481" y="980" width="231" height="290" frameX="-20" frameY="-52" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Dad Sing Note RIGHT0008" x="254" y="980" width="227" height="301" frameX="-11" frameY="-42" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Dad Sing Note RIGHT0009" x="460" y="1297" width="217" height="313" frameX="-3" frameY="-30" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Dad Sing Note RIGHT0010" x="2090" y="1038" width="195" height="330" frameX="-10" frameY="-13" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Dad Sing Note RIGHT0011" x="709" y="1978" width="177" height="342" frameX="-18" frameY="0" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Dad Sing Note UP0000" x="1865" y="1016" width="202" height="360" frameX="-18" frameY="0" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Dad Sing Note UP0001" x="550" y="0" width="245" height="360" frameX="-5" frameY="0" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Dad Sing Note UP0002" x="300" y="0" width="250" height="358" frameX="-6" frameY="-2" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Dad Sing Note UP0003" x="0" y="639" width="253" height="341" frameX="-3" frameY="-19" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Dad Sing Note UP0004" x="1103" y="537" width="250" height="331" frameX="0" frameY="-29" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Dad Sing Note UP0005" x="0" y="1297" width="239" height="331" frameX="-1" frameY="-29" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Dad Sing Note UP0006" x="1865" y="0" width="225" height="336" frameX="-5" frameY="-24" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Dad Sing Note UP0007" x="203" y="1628" width="206" height="344" frameX="-13" frameY="-16" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Dad Sing Note UP0008" x="2090" y="1368" width="181" height="352" frameX="-24" frameY="-8" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Dad Sing Note UP0009" x="2467" y="696" width="163" height="356" frameX="-32" frameY="-4" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Dad Sing Note UP0010" x="2467" y="343" width="166" height="353" frameX="-27" frameY="-7" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Dad Sing Note UP0011" x="532" y="1978" width="177" height="342" frameX="-23" frameY="-18" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Loop DOWN0000" x="1103" y="0" width="310" height="269" frameX="0" frameY="-74" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Loop DOWN0001" x="1103" y="269" width="310" height="268" frameX="0" frameY="-74" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Loop DOWN0002" x="534" y="639" width="308" height="276" frameX="-3" frameY="-67" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Loop DOWN0003" x="795" y="283" width="299" height="289" frameX="-12" frameY="-53" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Loop DOWN0004" x="253" y="639" width="281" height="304" frameX="-26" frameY="-38" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Loop DOWN0005" x="0" y="980" width="254" height="317" frameX="-46" frameY="-26" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Loop DOWN0006" x="239" y="1297" width="221" height="328" frameX="-68" frameY="-15" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Loop DOWN0007" x="2090" y="352" width="193" height="337" frameX="-84" frameY="-6" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Loop DOWN0008" x="886" y="1978" width="177" height="342" frameX="-90" frameY="0" frameWidth="311" frameHeight="342"/>
	<SubTexture name="Loop LEFT0000" x="1413" y="349" width="227" height="350" frameX="-1" frameY="-3" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Loop LEFT0001" x="1413" y="0" width="229" height="349" frameX="-2" frameY="-4" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Loop LEFT0002" x="1413" y="699" width="227" height="348" frameX="-5" frameY="-5" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Loop LEFT0003" x="1642" y="350" width="223" height="347" frameX="-8" frameY="-5" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Loop LEFT0004" x="1865" y="336" width="215" height="348" frameX="-12" frameY="-4" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Loop LEFT0005" x="1642" y="1049" width="207" height="351" frameX="-14" frameY="-2" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Loop LEFT0006" x="2090" y="0" width="196" height="352" frameX="-17" frameY="-1" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Loop LEFT0007" x="2090" y="689" width="185" height="349" frameX="-19" frameY="-4" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Loop LEFT0008" x="1063" y="1978" width="177" height="342" frameX="-18" frameY="-10" frameWidth="232" frameHeight="352"/>
	<SubTexture name="Loop RIGHT0000" x="889" y="1297" width="217" height="286" frameX="-49" frameY="-57" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Loop RIGHT0001" x="1158" y="980" width="219" height="285" frameX="-47" frameY="-57" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Loop RIGHT0002" x="938" y="980" width="220" height="286" frameX="-43" frameY="-57" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Loop RIGHT0003" x="712" y="980" width="226" height="288" frameX="-33" frameY="-55" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Loop RIGHT0004" x="481" y="980" width="231" height="290" frameX="-20" frameY="-52" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Loop RIGHT0005" x="254" y="980" width="227" height="301" frameX="-11" frameY="-42" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Loop RIGHT0006" x="460" y="1297" width="217" height="313" frameX="-3" frameY="-30" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Loop RIGHT0007" x="2090" y="1038" width="195" height="330" frameX="-10" frameY="-13" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Loop RIGHT0008" x="709" y="1978" width="177" height="342" frameX="-18" frameY="0" frameWidth="266" frameHeight="342"/>
	<SubTexture name="Loop UP0000" x="0" y="639" width="253" height="341" frameX="-3" frameY="-19" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Loop UP0001" x="1103" y="537" width="250" height="331" frameX="0" frameY="-29" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Loop UP0002" x="0" y="1297" width="239" height="331" frameX="-1" frameY="-29" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Loop UP0003" x="1865" y="0" width="225" height="336" frameX="-5" frameY="-24" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Loop UP0004" x="203" y="1628" width="206" height="344" frameX="-13" frameY="-16" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Loop UP0005" x="2090" y="1368" width="181" height="352" frameX="-24" frameY="-8" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Loop UP0006" x="2467" y="696" width="163" height="356" frameX="-32" frameY="-4" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Loop UP0007" x="2467" y="343" width="166" height="353" frameX="-27" frameY="-7" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Loop UP0008" x="532" y="1978" width="177" height="342" frameX="-23" frameY="-18" frameWidth="256" frameHeight="360"/>
	<SubTexture name="Dad idle dance0000" x="1240" y="1978" width="177" height="342" frameX="-1" frameY="-7" frameWidth="183" frameHeight="349"/>
	<SubTexture name="Dad idle dance0001" x="1593" y="1978" width="176" height="342" frameX="-1" frameY="-7" frameWidth="183" frameHeight="349"/>
	<SubTexture name="Dad idle dance0002" x="1417" y="1978" width="176" height="342" frameX="-1" frameY="-7" frameWidth="183" frameHeight="349"/>
	<SubTexture name="Dad idle dance0003" x="2467" y="0" width="175" height="343" frameX="-2" frameY="-6" frameWidth="183" frameHeight="349"/>
	<SubTexture name="Dad idle dance0004" x="2286" y="1387" width="181" height="343" frameX="-2" frameY="-6" frameWidth="183" frameHeight="349"/>
	<SubTexture name="Dad idle dance0005" x="2286" y="1043" width="181" height="344" frameX="-2" frameY="-5" frameWidth="183" frameHeight="349"/>
	<SubTexture name="Dad idle dance0006" x="2286" y="348" width="181" height="346" frameX="-2" frameY="-3" frameWidth="183" frameHeight="349"/>
	<SubTexture name="Dad idle dance0007" x="2286" y="0" width="181" height="348" frameX="-1" frameY="-1" frameWidth="183" frameHeight="349"/>
	<SubTexture name="Dad idle dance0008" x="2286" y="694" width="179" height="349" frameX="0" frameY="0" frameWidth="183" frameHeight="349"/>
	<SubTexture name="Dad idle dance0009" x="0" y="1978" width="178" height="348" frameX="0" frameY="-1" frameWidth="183" frameHeight="349"/>
	<SubTexture name="Dad idle dance0010" x="178" y="1978" width="177" height="346" frameX="0" frameY="-3" frameWidth="183" frameHeight="349"/>
	<SubTexture name="Dad idle dance0011" x="355" y="1978" width="177" height="344" frameX="0" frameY="-5" frameWidth="183" frameHeight="349"/>
</TextureAtlas>