<?xml version="1.0" encoding="utf-8"?>
<TextureAtlas imagePath="springtrap8.png">
	<!-- Created using the Spritesheet and XML generator -->
	<!-- https://uncertainprod.github.io/FNF-Spritesheet-XML-generator-Web -->
	<SubTexture name="Dad Sing Note DOWN0000" x="1406" y="319" width="200" height="316" frameX="-18" frameY="-7" frameWidth="247" frameHeight="323"/>
	<SubTexture name="Dad Sing Note DOWN0001" x="237" y="643" width="240" height="294" frameX="0" frameY="-29" frameWidth="247" frameHeight="323"/>
	<SubTexture name="Dad Sing Note DOWN0002" x="477" y="643" width="247" height="266" frameX="-1" frameY="-57" frameWidth="247" frameHeight="323"/>
	<SubTexture name="Dad Sing Note DOWN0003" x="724" y="643" width="238" height="266" frameX="-3" frameY="-57" frameWidth="247" frameHeight="323"/>
	<SubTexture name="Dad Sing Note DOWN0004" x="438" y="949" width="222" height="266" frameX="-7" frameY="-57" frameWidth="247" frameHeight="323"/>
	<SubTexture name="Dad Sing Note DOWN0005" x="193" y="1259" width="213" height="268" frameX="-12" frameY="-55" frameWidth="247" frameHeight="323"/>
	<SubTexture name="Dad Sing Note DOWN0006" x="1406" y="964" width="201" height="271" frameX="-21" frameY="-52" frameWidth="247" frameHeight="323"/>
	<SubTexture name="Dad Sing Note DOWN0007" x="154" y="1575" width="188" height="276" frameX="-31" frameY="-47" frameWidth="247" frameHeight="323"/>
	<SubTexture name="Dad Sing Note DOWN0008" x="0" y="1917" width="176" height="282" frameX="-39" frameY="-41" frameWidth="247" frameHeight="323"/>
	<SubTexture name="Dad Sing Note DOWN0009" x="2246" y="0" width="166" height="293" frameX="-47" frameY="-30" frameWidth="247" frameHeight="323"/>
	<SubTexture name="Dad Sing Note DOWN0010" x="2090" y="1310" width="152" height="308" frameX="-59" frameY="-15" frameWidth="247" frameHeight="323"/>
	<SubTexture name="Dad Sing Note DOWN0011" x="1935" y="1289" width="141" height="323" frameX="-70" frameY="0" frameWidth="247" frameHeight="323"/>
	<SubTexture name="Dad Sing Note LEFT0000" x="1209" y="0" width="197" height="349" frameX="-53" frameY="0" frameWidth="250" frameHeight="349"/>
	<SubTexture name="Dad Sing Note LEFT0001" x="0" y="0" width="245" height="334" frameX="-6" frameY="-15" frameWidth="250" frameHeight="349"/>
	<SubTexture name="Dad Sing Note LEFT0002" x="245" y="0" width="250" height="313" frameX="0" frameY="-37" frameWidth="250" frameHeight="349"/>
	<SubTexture name="Dad Sing Note LEFT0003" x="495" y="0" width="247" height="307" frameX="-4" frameY="-42" frameWidth="250" frameHeight="349"/>
	<SubTexture name="Dad Sing Note LEFT0004" x="484" y="334" width="241" height="308" frameX="-10" frameY="-42" frameWidth="250" frameHeight="349"/>
	<SubTexture name="Dad Sing Note LEFT0005" x="978" y="0" width="231" height="309" frameX="-19" frameY="-40" frameWidth="250" frameHeight="349"/>
	<SubTexture name="Dad Sing Note LEFT0006" x="0" y="949" width="220" height="310" frameX="-31" frameY="-39" frameWidth="250" frameHeight="349"/>
	<SubTexture name="Dad Sing Note LEFT0007" x="1406" y="0" width="205" height="319" frameX="-45" frameY="-31" frameWidth="250" frameHeight="349"/>
	<SubTexture name="Dad Sing Note LEFT0008" x="1209" y="349" width="190" height="329" frameX="-60" frameY="-21" frameWidth="250" frameHeight="349"/>
	<SubTexture name="Dad Sing Note LEFT0009" x="1611" y="0" width="176" height="339" frameX="-75" frameY="-11" frameWidth="250" frameHeight="349"/>
	<SubTexture name="Dad Sing Note LEFT0010" x="1611" y="1052" width="157" height="340" frameX="-93" frameY="-9" frameWidth="250" frameHeight="349"/>
	<SubTexture name="Dad Sing Note LEFT0011" x="2246" y="1597" width="145" height="327" frameX="-105" frameY="-22" frameWidth="250" frameHeight="349"/>
	<SubTexture name="Dad Sing Note RIGHT0000" x="1406" y="635" width="191" height="329" frameX="-13" frameY="0" frameWidth="261" frameHeight="329"/>
	<SubTexture name="Dad Sing Note RIGHT0001" x="978" y="618" width="221" height="311" frameX="-20" frameY="-18" frameWidth="261" frameHeight="329"/>
	<SubTexture name="Dad Sing Note RIGHT0002" x="978" y="309" width="227" height="309" frameX="-19" frameY="-20" frameWidth="261" frameHeight="329"/>
	<SubTexture name="Dad Sing Note RIGHT0003" x="742" y="310" width="234" height="308" frameX="-20" frameY="-21" frameWidth="261" frameHeight="329"/>
	<SubTexture name="Dad Sing Note RIGHT0004" x="0" y="334" width="243" height="309" frameX="-19" frameY="-20" frameWidth="261" frameHeight="329"/>
	<SubTexture name="Dad Sing Note RIGHT0005" x="243" y="334" width="241" height="309" frameX="-20" frameY="-20" frameWidth="261" frameHeight="329"/>
	<SubTexture name="Dad Sing Note RIGHT0006" x="0" y="643" width="237" height="306" frameX="-16" frameY="-23" frameWidth="261" frameHeight="329"/>
	<SubTexture name="Dad Sing Note RIGHT0007" x="742" y="0" width="236" height="310" frameX="-6" frameY="-19" frameWidth="261" frameHeight="329"/>
	<SubTexture name="Dad Sing Note RIGHT0008" x="220" y="949" width="218" height="310" frameX="0" frameY="-19" frameWidth="261" frameHeight="329"/>
	<SubTexture name="Dad Sing Note RIGHT0009" x="0" y="1259" width="193" height="316" frameX="-4" frameY="-13" frameWidth="261" frameHeight="329"/>
	<SubTexture name="Dad Sing Note RIGHT0010" x="2246" y="293" width="150" height="323" frameX="-19" frameY="-6" frameWidth="261" frameHeight="329"/>
	<SubTexture name="Dad Sing Note RIGHT0011" x="2246" y="616" width="145" height="327" frameX="-19" frameY="-2" frameWidth="261" frameHeight="329"/>
	<SubTexture name="Dad Sing Note UP0000" x="1787" y="0" width="148" height="360" frameX="-1" frameY="0" frameWidth="156" frameHeight="361"/>
	<SubTexture name="Dad Sing Note UP0001" x="1787" y="720" width="146" height="359" frameX="-2" frameY="-1" frameWidth="156" frameHeight="361"/>
	<SubTexture name="Dad Sing Note UP0002" x="2090" y="326" width="149" height="335" frameX="-1" frameY="-26" frameWidth="156" frameHeight="361"/>
	<SubTexture name="Dad Sing Note UP0003" x="2090" y="661" width="152" height="326" frameX="-1" frameY="-34" frameWidth="156" frameHeight="361"/>
	<SubTexture name="Dad Sing Note UP0004" x="2090" y="0" width="156" height="326" frameX="0" frameY="-34" frameWidth="156" frameHeight="361"/>
	<SubTexture name="Dad Sing Note UP0005" x="1935" y="0" width="155" height="332" frameX="-1" frameY="-28" frameWidth="156" frameHeight="361"/>
	<SubTexture name="Dad Sing Note UP0006" x="0" y="1575" width="154" height="342" frameX="-1" frameY="-18" frameWidth="156" frameHeight="361"/>
	<SubTexture name="Dad Sing Note UP0007" x="1611" y="339" width="152" height="353" frameX="-1" frameY="-7" frameWidth="156" frameHeight="361"/>
	<SubTexture name="Dad Sing Note UP0008" x="1611" y="692" width="149" height="360" frameX="-1" frameY="0" frameWidth="156" frameHeight="361"/>
	<SubTexture name="Dad Sing Note UP0009" x="1787" y="360" width="147" height="360" frameX="-2" frameY="0" frameWidth="156" frameHeight="361"/>
	<SubTexture name="Dad Sing Note UP0010" x="1787" y="1079" width="146" height="355" frameX="-1" frameY="-5" frameWidth="156" frameHeight="361"/>
	<SubTexture name="Dad Sing Note UP0011" x="2246" y="1270" width="145" height="327" frameX="-1" frameY="-33" frameWidth="156" frameHeight="361"/>
	<SubTexture name="Dad idle dance0000" x="2412" y="313" width="145" height="310" frameX="-1" frameY="-18" frameWidth="146" frameHeight="327"/>
	<SubTexture name="Dad idle dance0001" x="2412" y="932" width="145" height="297" frameX="-2" frameY="-30" frameWidth="146" frameHeight="327"/>
	<SubTexture name="Dad idle dance0002" x="2090" y="1618" width="146" height="295" frameX="-1" frameY="-33" frameWidth="146" frameHeight="327"/>
	<SubTexture name="Dad idle dance0003" x="2412" y="1229" width="145" height="296" frameX="-1" frameY="-31" frameWidth="146" frameHeight="327"/>
	<SubTexture name="Dad idle dance0004" x="1935" y="1612" width="146" height="303" frameX="0" frameY="-24" frameWidth="146" frameHeight="327"/>
	<SubTexture name="Dad idle dance0005" x="2412" y="623" width="145" height="309" frameX="-1" frameY="-18" frameWidth="146" frameHeight="327"/>
	<SubTexture name="Dad idle dance0006" x="2412" y="0" width="145" height="313" frameX="-1" frameY="-15" frameWidth="146" frameHeight="327"/>
	<SubTexture name="Dad idle dance0007" x="1935" y="972" width="145" height="317" frameX="-1" frameY="-11" frameWidth="146" frameHeight="327"/>
	<SubTexture name="Dad idle dance0008" x="1935" y="332" width="145" height="319" frameX="-1" frameY="-8" frameWidth="146" frameHeight="327"/>
	<SubTexture name="Dad idle dance0009" x="1935" y="651" width="144" height="321" frameX="-2" frameY="-7" frameWidth="146" frameHeight="327"/>
	<SubTexture name="Dad idle dance0010" x="2090" y="987" width="145" height="323" frameX="-1" frameY="-5" frameWidth="146" frameHeight="327"/>
	<SubTexture name="Dad idle dance0011" x="2246" y="943" width="145" height="327" frameX="-1" frameY="0" frameWidth="146" frameHeight="327"/>
</TextureAtlas>